@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This web site is about mey first ASP.NET Core project.The data in this project is from different sites.The project is educational, not for commercial purposes.
</p>
