@model ManageListingViewModel

@{
    ViewData["Title"] = "Mange Movies";
}
<h2 class="text-center">Manage Movies</h2>
<br />
<br />
<button type="submit" asp-for=""asp-action="Manage" class="btn btn-success float-right">+ Add Movie</button>
<br />
<br />
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Genre</th>
            <th scope="col">Rating</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model.ManageList)
        {
            <tr>
                <th>@movie.Title</th>
                <td>@movie.Genre</td>
                <td>@movie.Rating</td>
                <td>
                    <button type="button" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>